* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background: #fef9ef;
    color: #333;
    padding-top: 90px;
}

h1 {
    font-family: "Fredoka", sans-serif;
}

.cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #ff8c5a;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba (0,0,0,0,2);
    animation: deslizarHeader 1s ease;
}

@keyframes deslizarHeader {
    from { transform: translateY(-100px);}
    to {transform: translateY(0); }
    
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}

.menu a:hover   {
    transform: scale(1.1);
    color: #fffacd;
}

section {
    padding: 40px 20px;
}

.grid-jogos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px; 
}


